@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');

.container {
	background: linear-gradient(to right, #ff9966, #ff5e62);
}

.full {
	min-height: 100vh;
}

.titulo {
	font-family: 'Edu VIC WA NT Beginner';
	font-size: 2rem;
}

.v-align {
	padding: 30vh 0;
}