*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.fondo-header-nav{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.pixabay.com/photo/2022/05/01/15/02/art-7167741_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 20%;
    font-size: 150%;
}

.nav-bar{
    width: 85%;
    height: 6.5vh;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    border-radius: 0 0 30px 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.750);
}

.nav-bar-list{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-list li{
    display: inline;
    list-style: none;
}

.nav-bar-list li a{
    color: #ac6363;
    text-decoration: none;
    font-size: 1.9vw;
}

h1{
    text-align: center;
    color: white;
    font-size: 7vw;
    margin: auto;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.500);
}

.computer-scientist{
    text-align: center;
    width: fit-content;
    margin: -3vh auto 2% auto;
    font-weight: 400;
    color: #ac6363;
    padding: 10px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.500);
}

hr{
    border-top: 1px solid #ac6363;
    margin: 2% 3%;
}

.title{
    margin: 0.9% 2%;
}

.grid-about-section{
    margin: 0 4%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 5vw;
    grid-template-areas: "about-text about-img";
    align-items: center;
    justify-items: center;
}

.about-text{
    grid-area: about-text;
}

.about-img{
    grid-area: about-img;
}
