body {
  background: linear-gradient(128deg, rgb(250, 192, 162) 0%, rgb(255, 94, 99) 99%);

  h1{
    font-size: 1.2rem;
  }

  .medicos{
    background: linear-gradient(128deg, rgb(250, 192, 162) 0%, rgb(255, 94, 99) 99%);
    height: max-content;
    padding-bottom: 7vh;
  }
  img{
    height: 50px;
    width: auto;
  }

  footer {
    height: 7vh;
    background-color: white;
    border-radius: 1.5rem 1.5rem 0 0;
    z-index: 999;
    position: fixed;
    bottom: 0;

    nav {
      height: 100%;
      .icon{
        transform: scale(1.5);
        color: rgba(0, 0, 0, 0.350);
      }
      .current_icon{
        transform: scale(2);
      }
    }

  }
}