<body class="">
  <header class="container-fluid login__header text-center d-flex flex-column align-items-center">
    <mat-icon routerLink="/medicos" class="m-2 align-self-start">arrow_back</mat-icon>
    <img class="img-fluid rounded-4" src="https://sp-images.summitpost.org/947006.jpg?auto=format&fit=max&h=800&ixlib=php-2.1.1&q=35&s=876696700800816d01e0d1eb31ce7ab0" alt="perfil" srcset="">
    <h1 class="pt-3">
      Juan Kevin Tumbaco
    </h1>
    <p>Cardiologo</p>
    <p>0987654321</p>
    <p class="mb-2">doctor@gmail.com</p>
  </header>
  <hr>
  <main class="d-flex">
    <button mat-raised-button routerLink="/medico">Realizar reserva</button>
  </main>
</body>